#mvn "-Duser.home=/var/maven" clean install
version: "3.8"
services:
  console:
    image: springapp:dev
    build:
      context: .
      target: dev
    volumes:
      - ./:/usr/src/mymaven
    ports:
      - 8080:8080
    environment:
      GREET: "Szia"